@font-face {
    font-family: SourceHanSansSC;
    src: url("../SourceHanSansSC-Regular-2.otf");
}
body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
#l {
    height: 100vh;
    float: left;
    font-size: 14px;
    line-height: 32px;
    background-color: rgb(245, 245, 245);
    font-family: SourceHanSansSC;
}
#l0 {
    height: 32px;
    color: rgb(127, 63, 255);
    background-color: rgb(127, 63, 255, 0.15);
}
#l0l {
    width: 20px;
    height: 20px;
    margin: 6px;
    float: left;
    border-radius: 3px;
}
#l0r {
    font-weight: bold;
    float: left;
}
#r {
    height: 100vh;
    float: left;
}
#rt1 {
    height: 32px;
    background-color: rgb(255, 255, 255);
}
#rt11 {
    width: 16px;
    height: 16px;
    padding: 4px;
    border-radius: 3px;
    margin: 4px;
    color: rgb(0, 0, 0);
    float: left;
}
#rt11:link {
    background-color: rgb(255, 255, 255);
}
#rt11:visited {
    background-color: rgb(255, 255, 255);
}
#rt11:hover {
    background-color: rgb(240, 240, 240);
}
#rt11:active {
    background-color: rgb(240, 240, 240);
}
#rt12 {
    height: 24px;
    margin-top: 4px;
    margin-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    float: left;
    border-radius: 3px;
}
#rt12:link {
    background-color: rgb(255, 255, 255);
}
#rt12:visited {
    background-color: rgb(255, 255, 255);
}
#rt12:hover {
    background-color: rgb(240, 240, 240);
}
#rt12:active {
    background-color: rgb(240, 240, 240);
}
#rt12l {
    width: 20px;
    height: 20px;
    margin: 2px;
    float: left;
    border-radius: 3px;
}
#rt12r {
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    float: left;
    color: rgb(0, 0, 0);
    font-family: SourceHanSansSC;
}
#rt13 {
    font-size: 14px;
    line-height: 32px;
    float: left;
    color: rgb(191, 191, 191);
    font-family: SourceHanSansSC;
}
#rt14 {
    height: 24px;
    margin-top: 4px;
    margin-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    float: left;
    border-radius: 3px;
}
#rt14:link {
    background-color: rgb(255, 255, 255);
}
#rt14:visited {
    background-color: rgb(255, 255, 255);
}
#rt14:hover {
    background-color: rgb(240, 240, 240);
}
#rt14:active {
    background-color: rgb(240, 240, 240);
}
#rt14l {
    width: 20px;
    height: 20px;
    margin: 2px;
    float: left;
    border-radius: 3px;
}
#rt14r {
    font-size: 14px;
    line-height: 24px;
    float: left;
    color: rgb(0, 0, 0);
    font-family: SourceHanSansSC;
}
#rt2 {
    height: 192px;
    object-fit: cover;
    position: relative;
    z-index: 1;
}
#rt3 {
    margin-left: 32px;
    width: 64px;
    height: 64px;
    margin-top: -32px;
    border-radius: 3px;
    position: relative;
    z-index: 2;
}
#rb {
    height: calc(100vh - 224px);
    margin-left: 32px;
    margin-right: 32px;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    font-family: SourceHanSansSC;
}
#rb::-webkit-scrollbar {
    display: none;
}
#rb1 {
    font-size: 32px;
    font-weight: bold;
}
#rb2 {
    font-size: 20px;
    font-weight: bold;
}