@font-face {
    font-family: SourceHanSansSC;
    src: url("/SourceHanSansSC-Regular-2.otf");
}
body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: block;
}
#l {
    height: 100vh;
    float: left;
    font-size: 14px;
    line-height: 32px;
    background-color: rgb(245, 245, 245);
    font-family: SourceHanSansSC;
}
#l a {
    display: block;
}
#l0 {
    height: 32px;
    color: rgb(127, 63, 255);
    background-color: rgb(127, 63, 255, 0.15);
}
#l0l {
    width: 20px;
    height: 20px;
    margin: 6px;
    float: left;
    border-radius: 3px;
}
#l0r {
    font-weight: bold;
    float: left;
}
#l1 {
    height: 32px;
    color: rgb(0, 0, 0);
    background-color: rgb(245, 245, 245);
}
#l1:link {
    color: rgb(0, 0, 0);
    background-color: rgb(245, 245, 245);
}
#l1:visited {
    color: rgb(0, 0, 0);
    background-color: rgb(245, 245, 245);
}
#l1:hover {
    color: rgb(127, 63, 255);
    background-color: rgb(127, 63, 255, 0.15);
}
#l1:active {
    color: rgb(127, 63, 255);
    background-color: rgb(127, 63, 255, 0.15);
}
#l1l {
    width: 20px;
    height: 20px;
    margin-left: 38px;
    margin-right: 6px;
    margin-top: 6px;
    margin-bottom: 6px;
    float: left;
    border-radius: 3px;
}
#l1r {
    float: left;
}
#r {
    height: 100vh;
    float: left;
}
#rt1 {
    height: 32px;
    background-color: rgb(255, 255, 255);
}
#rt11 {
    width: 16px;
    height: 16px;
    padding: 4px;
    border-radius: 3px;
    margin: 4px;
    color: rgb(0, 0, 0);
    float: left;
}
#rt11:link {
    background-color: rgb(255, 255, 255);
}
#rt11:visited {
    background-color: rgb(255, 255, 255);
}
#rt11:hover {
    background-color: rgb(240, 240, 240);
}
#rt11:active {
    background-color: rgb(240, 240, 240);
}
#rt12 {
    height: 24px;
    margin-top: 4px;
    margin-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    float: left;
    border-radius: 3px;
}
#rt12l {
    width: 20px;
    height: 20px;
    margin: 2px;
    float: left;
    border-radius: 3px;
}
#rt12r {
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    float: left;
    color: rgb(0, 0, 0);
    font-family: SourceHanSansSC;
}
#rt13 {
    font-size: 14px;
    line-height: 32px;
    float: left;
    color: rgb(191, 191, 191);
    font-family: SourceHanSansSC;
}
#rt14 {
    height: 24px;
    margin-top: 4px;
    margin-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    float: left;
    border-radius: 3px;
}
#rt14:link {
    background-color: rgb(255, 255, 255);
}
#rt14:visited {
    background-color: rgb(255, 255, 255);
}
#rt14:hover {
    background-color: rgb(240, 240, 240);
}
#rt14:active {
    background-color: rgb(240, 240, 240);
}
#rt14l {
    width: 20px;
    height: 20px;
    margin: 2px;
    float: left;
    border-radius: 3px;
}
#rt14r {
    font-size: 14px;
    line-height: 24px;
    float: left;
    color: rgb(0, 0, 0);
    font-family: SourceHanSansSC;
}
#rt2 {
    height: 192px;
    object-fit: cover;
    position: relative;
    z-index: 1;
}
#rt3 {
    margin-left: 40px;
    width: 64px;
    height: 64px;
    margin-top: -32px;
    border-radius: 3px;
    position: relative;
    z-index: 2;
}
#rb {
    height: calc(100vh - 224px);
    margin-left: 32px;
    margin-right: 32px;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    font-family: SourceHanSansSC;
}
#rb::-webkit-scrollbar {
    display: none;
}
#rbt {
    margin-left: 7px;
    font-size: 32px;
    font-weight: bold;
}
#rb1 {
    width: 256px;
    padding: 7px;
    margin: 7px;
    border-radius: 3px;
    outline: solid 1px rgb(230, 230, 230);
    float: left;
}
#rb10 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 4px;
    margin-bottom: 4px;
}
#rb11 {
    width: 256px;
}
#rb12 {
    width: 256px;
    text-align: center;
}
#rb12 p {
    margin-top: 2px;
    margin-bottom: 2px;
}
#rb121 {
    width: 85px;
    float: left;
}
#rb121t {
    font-size: 14px;
    color: rgb(127, 127, 127);
}
#rb121b {
    font-size: 32px;
    color: rgb(63, 127, 255);
}
#rb122 {
    width: 85px;
    float: left;
}
#rb122t {
    font-size: 14px;
    color: rgb(127, 127, 127);
}
#rb122b {
    font-size: 32px;
    color: rgb(127, 127, 127);
}
#rb123 {
    width: 85px;
    float: left;
}
#rb123t {
    font-size: 14px;
    color: rgb(127, 127, 127);
}
#rb123b {
    font-size: 32px;
    color: rgb(255, 63, 63);
}
#rb124 {
    height: 66px;
}
#rb2 {
    width: 256px;
    padding: 7px;
    margin: 7px;
    border-radius: 3px;
    outline: solid 1px rgb(230, 230, 230);
    float: left;
}
#rb2t {
    font-size: 20px;
    font-weight: bold;
    margin-top: 4px;
    margin-bottom: 4px;
}
#rb2b {
    display: block;
    width: 256px;
}
#rb2b0 {
    width: 256px;
}
#rbb {
    height: 256px;
    float: left;
}